<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"anchor":"main-content"} -->
<main class="wp-block-group" id="main-content">
	<!-- wp:group {"metadata":{"name":"Content"},"className":"container-page section","layout":{"type":"default"}} -->
	<div class="wp-block-group container-page section">
		<!-- wp:query-title {"type":"archive","level":1,"className":"h-display mb-8"} /-->
		<!-- wp:query {"queryId":0,"query":{"perPage":10,"postType":"post","inherit":true}} -->
		<div class="wp-block-query">
			<!-- wp:post-template -->
			<!-- wp:post-title {"isLink":true,"className":"h3"} /-->
			<!-- wp:post-excerpt {"className":"prose-body"} /-->
			<!-- /wp:post-template -->
			<!-- wp:query-pagination -->
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-numbers /-->
			<!-- wp:query-pagination-next /-->
			<!-- /wp:query-pagination -->
		</div>
		<!-- /wp:query -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
