<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"anchor":"main-content"} -->
<main class="wp-block-group" id="main-content">
	<!-- wp:group {"metadata":{"name":"Content"},"className":"container-page section","layout":{"type":"default"}} -->
	<div class="wp-block-group container-page section">
		<!-- wp:post-title {"level":1,"className":"h-display"} /-->
		<!-- wp:post-content {"className":"prose-body mt-6"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
